<div class="form">
    <div class="question">
        <h1>Oi, vamos começar.<br>
            Quando é seu aniversário?
        </h1> 
    </div>

    <div class="answer">
        <div class="form-answer">
            <input class="form__input birth-date-step-input" id="birthday" placeholder="DD/MM/AAAA" type="text" data-testid="birthday">
            <label for="name" class="form__label">DD/MM/AAAA</label>
        </div>
        <div class="btn-answer">
            <button role="button" data-uia-button-disabled="false" class="btn arrow" type="submit" data-testid="advance"
                color="ctaPrimary">Pronto</button>
        </div>
    </div>
</div>